body {
  background: linear-gradient(to bottom right, #1f2937, #0f172a); /* Azul petróleo para cinza escuro */
  color: #f1f5f9; /* Texto claro */
  min-height: 100vh;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
